<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Include the defaults from spring so we have the usual pretty logs we are all used to -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!--
        Verbose output stacktrace in test when running on Mac:
        Unable to load io.netty.resolver.dns.macos.MacOSDnsServerAddressStreamProvider, fallback to system defaults. This may result in incorrect DNS resolutions on MacOS
    -->
    <logger name="io.netty.resolver.dns.DnsServerAddressStreamProviders" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>